* {
    box-sizing: border-box;
    color: aliceblue;
}

.Todo {
 max-width: 600px;
 margin:auto;
 text-align: center;
 border-radius: 5px;
 padding: 10px;
 background-color:darkslategray;
 font-size: 17px;

}

.title {
 font-size: 30px;
}

input {
  background-color:darkseagreen;
}

.add-btn {
background-color:lightsalmon; margin-left: 20px; border: none; padding:2px;
}

.delete {display: flex; 
    flex-direction: column;
    background-color:lightsalmon;
        margin-left: 310px;}

li { margin-right:300px;
    list-style: none; 
}
.list-item { margin: 5px;  font-weight: bold; }